.bal {
    text-align: center;
    
}
.bal h2 {
    margin: -0.6rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
.Inc_Exp{
    color: rgb(7, 7, 7);
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    
/* card */
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius: 6px;
    margin: 2rem auto;
    padding: 1.5rem;
    width: 90%;
    max-width: 60rem;
    margin-bottom: 0;
}